.contactOptions{
    padding: 4rem;
    background-color: #FFEDD5;
    color: #242424;
    text-align: center;
}
.contactsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.contactsContainer svg{
    height: 100px;
    width: 100px;
    fill: #242424;
    margin-bottom: 2rem;
}
.contactOptions p{
    font-size: 1.4rem;
}