.testimonials{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 7rem 3rem;
    padding-bottom: 6rem;
    background-color: #015E87;
    color: #FFEDD5;
}
.testimonials > h1{
    display: block;
    font-size: 4rem;
    transform: rotate(-90deg);
    margin-top: -4rem;
    flex-basis: 6rem;    
}
.testimonials div{
    width: 65rem;
    margin-top: 4rem;
    position: relative;
    flex-grow: 1;
}
.testimonials p{
    font-size: 1.1rem;
    margin-bottom: 4rem;
    font-style: italic;
}
.testimonials h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 6rem;
    margin-bottom: 1.3rem;
}
.testimonials button{
    position: absolute;
    border: none;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 100%;
    font-size: 3rem;
    background-color: transparent;
    color: #FFEDD5;
}
.leftArrow{
    top: 50%;
    left: 0;
}
.rightArrow{
    top: 50%;
    right: 0;
}

@media(max-width:900px){
    .testimonials{
        flex-flow: column;
        padding: 7rem 5rem;
        justify-content: center;
    }
    .testimonials div{
        width: 100%;
        margin-top: 2rem;
    }
    .testimonials h1{
        transform: rotate(0);
        font-size: 2.5rem;
    }
}
@media(max-width:500px){
    .leftArrow{
        left: -80px;        
    }
    .rightArrow{
        right: -80px;
    }
}