.bookListContainer{
    display: flex;
    /* flex-basis: 20%; */
    height: 89vh;
    flex-shrink: 1;
    justify-content: space-around;
    max-width: 17rem;
    border-top: 3px solid #015E87;
}
.bookList{
    overflow-y: scroll;
    width:80%;
    flex-grow: 0;
}
.bookList li{
    cursor: pointer;
    border: 1px solid #015E87;
    height: 2.4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    flex-grow: 0;
    /* overflow-x: hidden; */
    background-color: #FFEDD5;
    color: #015E87;
    position: relative;
    z-index: 3;
}
.chapters{
    overflow-y: scroll;
    width: 20%;
    overflow-x: hidden;
    padding-right: 5rem;
    /* z-index: -1; */
}
.chapters li{
    height: 1.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 1rem; */
    border: 1px solid #015E87;
    color: #015E87;
    background-color: #FFEDD5;
    display: block;
    width: 8rem;
    cursor: pointer;
}

:global(#activeBook){
    background-color: #015E87;
    color: #FFEDD5;
    border-top: #015E87;
}
:global(#activeChapter){
    color: #FFEDD5;
    background-color: #015E87;
    border-top: #015E87;
}

@media(max-width:950px){
    .bookListContainer{
        width: 100vw;
        height: 12vh;
        flex-flow: column;
        padding-top: 1rem;   
    }
    .bookList{
        width: 100vw;
        display: flex;
        height: 50%;
        gap: 1rem;
        align-items: center;
    }
    .bookList li{
        /* width: 54rem; */
        display: block;
        padding: 0 1rem;
    }
    .chapters{
        width: 90vw;
        display: flex;
        gap: 0rem;
        overflow-x: scroll;
    }
    .chapters li{
        padding: 0.5rem 1rem;
    }
}